{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}"/>
</head>
<body>
	{% if user.is_authenticated %}

	<div id="top-navbar">
			<a href="{% url 'index' %}">Menu</a>
			<a href="{% url 'index' %}">Orders</a>
			<a href="{% url 'logout' %}">Log out ({{ user }})</a>
	</div>
	{% endif %}
	{% block body %}
    {% endblock %}
    <!-- popper.js & tippy.js -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
	<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
	<!-- Handlebars -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <!-- JavaScript Cookie -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
		
</body>
</html>