{% extends "base.html" %}
{% load static %}

{% block body %} 
<div id="main-container" class="container">
	<table>
		<tr>
			<td>#</td>
			<td>Item</td>
			<td>Base Price</td>
			<td>Total Price</td>
			<td></td>
		</tr>
		{% for item in order_items %}
		<tr data-item="{{ item.id }}">
			<td>{{ forloop.counter }}</td>
			<td>
				{{ item.menu_item.size|default_if_none:"" }}
				{{ item.menu_item.category }}
				{{ item.menu_item.name }}
			</td>
			<td>
				<p class="item-base-price">${{ item.menu_item.price }}</p>
			</td>
			<td>
				<p class="item-total-price" 
					data-price="{{ item.price }}">
					${{ item.price }}
				</p>
			</td>
			<td>
				<img class="icon rm-from-cart-btn" 
					data-item="{{ item.id }}" 
					data-csrf-token="{{ csrf_token }}" 
					src="{% static 'orders/icons/trash.png' %}"
				>
			</td>
		</tr>

		{% if item.addons.all %}
		<tr data-item="{{ item.id }}">
			<td></td>
			<td>
				<ul>
				{% for addon in item.addons.all %}
				<li>
					{{ addon.menu_item_addon.name }}
					(+${{ addon.menu_item_addon.price }})

				</li>
				{% endfor %}
				
				</ul>
			</td>
		</tr>
	{% endif %}
	{% endfor %}

	</table>

	<h3 id="total-order-price">Total: <h3>

	<form method="post" action={% url "place_order" %}>
		{% csrf_token %}
		<input type="hidden" name="order" value="{{ order.id }}">
		<label>
			Select existing address:
		</label>
		</br>
		<select name="address">
			{% for address in addresses %}
				<option value={{address.id}}>{{ address }}</option>
			{% endfor %}
		</select>
		<label><br>or add <a href="{% url "create_address" %}">a new one</a><br></label>
		</br>
		<label>Select payment method:<br></label>
		<select name="payment-method">
			{% for pm in payment_methods %}
				<option value="{{ pm.0 }}">{{ pm.1 }}</option>
			{% endfor %}
		</select>
		<br><br>
		<label>Add order comments:<br></label>
		<textarea name="order-comments"></textarea>
		<br><br>
		<input type="submit" value="Place Order">
	</form>
</div>
<script type="module" src="{% static 'orders/order_update.js' %}"></script>
{% endblock %}